{% include "head.html" %}

<head>
    <title>Einkaufslist</title>
</head>

{% include "navbar.html" %}

<body>
    <div class="container under-navbar">
        <div class="container shopping-card">
            <div class="row justify-content-center text-center">
                <h1>Einkaufslist</h1>
            </div>

            {% for ingredient, value in ingredient_dict.items() %}

            <div class="row ingridient">
                <div class="col-6 text-start">
                    <p>{{ ingredient }}</p>
                </div>
                <div class="col-6 text-end">
                    <p>{{ value[0] }} {{ value[1] }}</p>
                </div>
            </div>

            {% endfor %}

        </div>

        <div class="row">
            <div class="col-6 text-start">
                <a class="btn btn-success" href="{{ url_for('shopping_list') }}" role="button">PDF Herunterladen</a>
            </div>

            <div class="col-6 text-end">
                <a class="btn btn-success" href="{{ url_for('shopping_list') }}" role="button">Teilen</a>
            </div>
        </div>   
    </div>
</body>